{% extends "base_generic.html" %}

{% block content %}

    {% if form.errors %}
        <p>Неверный пароль</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>У вас нет доступа к этой странице</p>
        {% else %}
            <p>Войдите в свой аккаунт</p>
        {% endif %}
    {% endif %}
    <div class = "card d-inline-block col-sm-11">
        <form method="post" action="{% url 'login' %}?next=/">
            {% csrf_token %}
            <h1 class = "card-header">Вход</h1>
            <div class = "card-body">
                <div class="card-group form-group">
                    <p class = "head-list col-form-label col-2">Логин: </p>
                    <input name="username" class="form-control col-10" type="text">
                </div>
                <div class="card-group form-group">
                    <p class = "head-list col-form-label col-2">Пароль: </p>
                    <input name="password" class="form-control col-10" type="password">
                </div>
            </div>
            <input type="submit" value="Войти" class = "btn btn-dark"/>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
    <p class = "d-inline-block"><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
    <p class = "d-inline-block"><a href="{% url 'register' %}">Регистрация</a></p>

{% endblock %}