{% extends "base_generic.html" %}
{% block content%}
    <div class = "card d-inline-block product col-sm-11">
        <h1 class = "card-header">{{ product.name }}</h1>
        <div class = "card-body">
            <div class="card-group">
                <p class = "head-list">Описание: </p>
                <p class = "card-text"> {{ product.description }}</p>
            </div>
            <div class="card-group">
                <p class = "head-list">Цвет: </p>
                <p> {{ product.color }}</p>
            </div>
            <div class="card-group">
                <p class = "head-list">Дата выставления: </p>
                <p> {{ product.expose_datetime }}</p>
            </div>
            <div class="card-group">
                <p class = "head-list">Параметры(Высота х Ширина х Длина): </p>
                <p> {{ product.height }}x{{ product.width }}x{{ product.length }}</p>
            </div>
            <div class="card-group">
                <p class = "head-list">Старая цена: </p>
                <p> {{ product.old_price }}</p>
            </div>
            <div class="card-group">
                <p class = "head-list">Причина снижения цены: </p>
                <p> {{ product.reason_dev }}</p>
            </div>
            <div class = "card-footer">
                <div class="price col-8 d-inline-block"> {{ product.price }}Ꝑ</div>
                {% if user == product.seller%}
                <div class = "col-1 d-inline-block"></div>
                <a class="btn btn-warning" href="{{ product.get_absolute_url }}/edit">Изменить</a>
                <div class = "col-1 d-inline-block">
                    <a class="btn btn-danger" href="{{ product.get_absolute_url}}/delete">Удалить</a>
                </div>
                {% endif %}

            </div>
        </div>

    </div>
{% endblock %}